* {
    margin: 0;
}
body {
    width: 24.375rem;
}
.head {
    width: 24.375rem;
    height: 7.5626rem;
    background-color: white;
}
.navigation {
    width: 100%;
    height: 3rem;
    background-color: #F5F5F7CC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navsection-1 {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navapplelogo {
    width: 1rem;
    height: 1.1875rem;
}
.navsection-2 {
    display: none;
}
.navsection-3 {
    width: 9rem;
    height: 3rem;
    display: flex;
}
.navicon {
    margin: 1rem;
    width: 1rem;
    height: 1rem;
}
.headcont {
    width: 100%;
    height: 4.5625rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #1D1D1F;
    display: flex;
    align-items: center;
    text-align: center;
}
.main-1 {
    width: 24.375rem;
    height: 63.875rem;
}
.mains {
    width: 100%;
    height: 31.25rem;
}
.main-1-1 {
    background: url(./4d617ff6192318499aff8aebb56aaf232c8f00d4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mainframe-1 {
    width: 15.0625rem;
    height: 7.125rem;
    margin-bottom: 2.25rem;
}
.main-1-title {
    width: 100%;
    height: 2.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
    font-size: 1.875rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F7;
}
.main-1-text {
    width: 100%;
    height: 1.375rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F7;
}
.main-1-buttons {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.button-1 {
    width: 6.6875rem;
    height: 2.25rem;
    background-color: #0071E3;
    border-radius: 999px;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-2 {
    width: 4.125rem;
    height: 2.25rem;
    border: #0071E3 1px solid;
    border-radius: 999px;
    color: #0071E3;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-1-2 {
    background: url(./ec3175b4a85620366114b7dc1d62789aa36c0536.jpg);
    display: none;
}
.main-2-1 {
    background: url(./bca14fea5cc383f10eb575ae23034d12bd94613d.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
}
.mainframe-2 {
    width: 15.0625rem;
    height: 7.125rem;
    margin-top: 2.25rem;
}
.main-2-title {
    width: 100%;
    height: 2.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
    font-size: 1.875rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F7;
}
.main-2-text {
    width: 100%;
    height: 1.375rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F7;
}
.main-2-buttons {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.wbutton-1 {
    width: 6.6875rem;
    height: 2.25rem;
    background-color: white;
    border-radius: 999px;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wbutton-2 {
    width: 4.125rem;
    height: 2.25rem;
    border: white 1px solid;
    border-radius: 999px;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-2-2 {
    background: url(./6e2272f55593e27e01766f0a588a5585328895e1.jpg);
    display: none;
}
.main {
    width: 24.375rem;
    height: 239.5625rem;
}
.contsection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.images {
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: center; 
}
.image-0 {
    background: url(./f34a75b3ce6969be90a261c4e631ecdfff8d60c9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.image-0-frame {
    width: 100%;
    height: 7.125rem;
    margin-top: 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iamge-0-title {
    width: 100%;
    height: 2.625rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-0-text {
    width: 100%;
    height: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.image-0-buttons {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.button-1 {
    width: 6.6875rem;
    height: 2.25rem;
    background-color: #0071E3;
    border-radius: 999px;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-2 {
    width: 4.125rem;
    height: 2.25rem;
    border: #0071E3 1px solid;
    border-radius: 999px;
    color: #0071E3;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello {
    width: 100%;
    height: 1.125rem;
    margin-bottom: 58px;
}
.image-1 {
    background: url(./da862da9442f25fda2746d5c8c6f9ec5d93a3101.jpg);
}
.image-2 {
    background: url(./a8f490366130e01428147e18eef7d270e446275c.jpg);
}
.image-3 {
    background: url(./289563ba49fcacc7cacfaa9dee97b7af3642bb76.jpg);
}
.image-4 {
    background: url(./faea9510bf75f3061ee55679cd22eea7569fcf6a.png);
}
.image-5 {
    background: url(./746c1b2b65a2e4b11fef8ab2ad8c64e76020395a.jpg);
}
.image-6 {
    background: url(b7726e787e585f3bcc4709d1a042f4f9f7c80c66.jpg);
}
.image-7 {
    background: url(ff948cacd279c7a6da7b42f7259842d3eef7e869.jpg);
    display: none;
}
.image-8 {
    background: url(d6e544be6057fe0fa0741e7386c61a4fb5ddb17f.jpg);
    display: none;
}
.image-9 {
    background: url(./47cc645e82102fb94058ac8b07709b8b6d85fef7.jpg);
    display: none;
}
/*
font-family: "Inter", sans-serif;
*/