* {
    margin: 0;
}
body {
    width: 24.375rem;
}
.head {
    width: 24.375rem;
    height: 7.5626rem;
    background-color: white;
}
.navigation {
    width: 100%;
    height: 3rem;
    background-color: #F5F5F7CC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navsection-1 {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navapplelogo {
    width: 1rem;
    height: 1.1875rem;
}
.navsection-2 {
    display: none;
}
.navsection-3 {
    width: 9rem;
    height: 3rem;
    display: flex;
}
.navicon {
    margin: 1rem;
    width: 1rem;
    height: 1rem;
}
.headcont {
    width: 100%;
    height: 4.5625rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #1D1D1F;
    display: flex;
    align-items: center;
    text-align: center;
}
.main-1 {
    width: 24.375rem;
    height: 63.875rem;
}
.mains {
    width: 100%;
    height: 31.25rem;
}
.main-1-1 {
    background: url(./4d617ff6192318499aff8aebb56aaf232c8f00d4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mainframe-1 {
    width: 15.0625rem;
    height: 7.125rem;
    margin-bottom: 2.25rem;
}
.main-1-title {
    width: 100%;
    height: 2.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
    font-size: 1.875rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F7;
}
.main-1-text {
    width: 100%;
    height: 1.375rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F7;
}
.main-1-buttons {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.button-1 {
    width: 6.6875rem;
    height: 2.25rem;
    background-color: #0071E3;
    border-radius: 999px;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-2 {
    width: 4.125rem;
    height: 2.25rem;
    border: #0071E3 1px solid;
    border-radius: 999px;
    color: #0071E3;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-2-1 {
    background: url(./bca14fea5cc383f10eb575ae23034d12bd94613d.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
}
.mainframe-2 {
    width: 15.0625rem;
    height: 7.125rem;
    margin-top: 2.25rem;
}
.main-2-title {
    width: 100%;
    height: 2.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
    font-size: 1.875rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F7;
}
.main-2-text {
    width: 100%;
    height: 1.375rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F7;
}
.main-2-buttons {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.wbutton-1 {
    width: 6.6875rem;
    height: 2.25rem;
    background-color: white;
    border-radius: 999px;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wbutton-2 {
    width: 4.125rem;
    height: 2.25rem;
    border: white 1px solid;
    border-radius: 999px;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    width: 24.375rem;
}
.contsection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.images {
    width: 100%;
    height: 31.25rem;
    display: flex;
    justify-content: center; 
}
.image-0 {
    background: url(./f34a75b3ce6969be90a261c4e631ecdfff8d60c9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.image-0-frame {
    width: 100%;
    height: 7.125rem;
    margin-top: 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iamge-0-title {
    width: 100%;
    height: 2.625rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-0-text {
    width: 100%;
    height: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.image-0-buttons {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.button-1 {
    width: 6.6875rem;
    height: 2.25rem;
    background-color: #0071E3;
    border-radius: 999px;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-2 {
    width: 4.125rem;
    height: 2.25rem;
    border: #0071E3 1px solid;
    border-radius: 999px;
    color: #0071E3;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello {
    width: fit-content;
    height: 1.125rem;
    margin-bottom: 2.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
    background-clip: text;
    color: transparent;
}
.image-1 {
    background: url(./da862da9442f25fda2746d5c8c6f9ec5d93a3101.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
.image-1-frame {
    width: 15.0625rem;
    height: 9.1875rem;
    margin-bottom: 3.375rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.image-1-title {
    width: 9rem;
    height: 1.375rem;
    margin-bottom: 1rem;
    color: #F5F5F7;
    font-size: 1.875rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-1-text {
    width: 100%;
    height: 3.3125rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #F5F5F7;
}
.image-1-buttons {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.image-2 {
    background: url(./a8f490366130e01428147e18eef7d270e446275c.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
}
.image-2-frame {
    width: 15.0625rem;
    height: 9.1875rem;
    margin-top: 2.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-2-title {
    width: 9rem;
    height: 1.375rem;
    margin-bottom: 0.75rem;
    color: black;
    font-size: 1.75rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.image-2-text-2 {
    width: 100%;
    height: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
.image-2-text {
    width: 100%;
    height: 1.5625rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
}
.image-2-buttons {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.image-3 {
    background: url(./289563ba49fcacc7cacfaa9dee97b7af3642bb76.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
}
.image-3-frame {
    width: 16.0625rem;
    height: 7.1875rem;
    margin-top: 2.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.image-3-title {
    width: 100%;
    height: 2.25rem;
    margin-bottom: 0.25rem;
    color: #1D1D1F;
    font-size: 1.875rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-3-text {
    width: 100%;
    height: 1.4375rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1D1D1F;
}
.image-3-buttons {
    width: 100%;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.image-4 {
    background: url(./faea9510bf75f3061ee55679cd22eea7569fcf6a.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
}
.image-4-frame {
    width: 16.0625rem;
    height: 10.5rem;
    margin-top: 2.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-4-title {
    width: 100%;
    height: 4.5rem;
    margin-bottom: 0.25rem;
    color: #1D1D1F;
    font-size: 1.875rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
}
.image-4-text {
    width: 100%;
    height: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1D1D1F;
}
.image-4-buttons {
    width: 6.6875rem;
    height: 2.25rem;
    background-color: #0071E3;
    border-radius: 999px;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-5 {
    background: url(./746c1b2b65a2e4b11fef8ab2ad8c64e76020395a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
.image-5-frame {
    width: 19.625rem;
    height: 9.5rem;
    margin-bottom: 2.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-5-title {
    width: 100%;
    height: 2.25rem;
    margin-bottom: 0.25rem;
    color: #1D1D1F;
    font-size: 1.875rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
}
.image-5-text {
    width: 100%;
    height: 3.75rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1D1D1F;
}
.image-5-buttons {
    width: 7.875rem;
    height: 2.25rem;
    background-color: #0071E3;
    border-radius: 999px;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-6 {
    background: url(b7726e787e585f3bcc4709d1a042f4f9f7c80c66.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.75rem;
}
.image-6-frame {
    width: 17.8125rem;
    height: 8.125rem;
    margin-top: 3.1875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-6-title {
    width: 100%;
    height: 2.125rem;
    margin-bottom: 0.25rem;
    color: #1D1D1F;
    font-size: 1.75rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.image-6-text {
    width: 100%;
    height: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1D1D1F;
}
.image-6-buttons {
    width: 9.375rem;
    height: 2.25rem;
    background-color: #0071E3;
    border-radius: 999px;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-7 {
    background: url(ff948cacd279c7a6da7b42f7259842d3eef7e869.jpg);
    display: none;
}
.image-8 {
    background: url(d6e544be6057fe0fa0741e7386c61a4fb5ddb17f.jpg);
    display: none;
}
.image-9 {
    background: url(./47cc645e82102fb94058ac8b07709b8b6d85fef7.jpg);
    display: none;
}
.slider-1 {
    width: 19.3125rem;
    height: 33.3125rem;
}
.engine-1 {
    width: 100vw;
    height: 30.9375rem;
    display: flex;
    overflow-x: auto;
    gap: 2.5rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.slider-1-images {
    width: 17.125rem;
    height: 30.9375rem;
    flex-shrink: 0;
    scroll-snap-align: center;
}
#slider-1-image-1 {
    background: url(./slide1/bad-monkey.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-2 {
    background: url(./slide1/baseball.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-3 {
    background: url(./slide1/instigators.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-4 {
    background: url(./slide1/k-pop-idols.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-5 {
    background: url(./slide1/lady-in-the-lake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-6 {
    background: url(./slide1/morning-show.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-7 {
    background: url(./slide1/napoleon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-8 {
    background: url(./slide1/pachinko.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-9 {
    background: url(./slide1/pressumed-innocent.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-10 {
    background: url(./slide1/season-pass.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.anchors {
    width: 100%;
    flex-direction: row;
    margin-top: 1rem;
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
}
.anchor {
    background-color: gray;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.25rem;
}
.slider-2 {
    width: 24.375rem;
    height: 9.25rem;
}
.engine-2 {
    width: 24.375rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 0.375rem;
    scrollbar-width: none;
}
.slider-2-images {
    width: 14.875rem;
    height: 8.375rem;
    flex-shrink: 0;
}
.slider-2-image-1 {
    background: url(./slide2/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-2 {
    background: url(./slide2/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-3 {
    background: url(./slide2/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-4 {
    background: url(./slide2/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-5 {
    background: url(./slide2/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-6 {
    background: url(./slide2/6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-7 {
    background: url(./slide2/7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-8 {
    background: url(./slide2/8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-9 {
    background: url(./slide2/9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-10 {
    background: url(./slide2/10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



@media (min-width:24.4375rem) {
    body {
        width: 48rem;
    }
    .head {
    width: 48rem;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headcont {
    width: 27.75rem;
    height: 3rem;
    margin-top: 0.75rem;
    justify-content: center;
}
.main-1 {
    width: 48rem;
    height: 82rem;
}
.mains {
    height: 40.625rem;
}
.main-1-1 {
    background: url(./ec3175b4a85620366114b7dc1d62789aa36c0536.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    align-items: flex-start;
}
.mainframe-1 {
    width: 25.3125rem;
    height: 9.75rem;
    margin-top: 3.625rem;
}
.main-1-title {
    height: 3.75rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 2.625rem;
}
.main-1-text {
    height: 2rem;
    font-size: 1.375rem;
}
.main-1-buttons {
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.button-1 {
    width: 7.6875rem;
    height: 2.75rem;
    font-size: 1rem;
}
.button-2 {
    width: 4.25rem;
    height: 2.75rem;
    font-size: 1rem;
}
.main-2-1 {
    background: url(./6e2272f55593e27e01766f0a588a5585328895e1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
}
.mainframe-2 {
    width: 25.3125rem;
    height: 9.75rem;
    margin-top: 3.625rem;
}
.main-2-title {
    height: 3.75rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 2.625rem;
}
.main-2-text {
    height: 2rem;
    font-size: 1.375rem;
}
.main-2-buttons {
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.wbutton-1 {
    width: 7.6875rem;
    height: 2.75rem;
    font-size: 1rem;
}
.wbutton-2 {
    width: 4.25rem;
    height: 2.75rem;
    font-size: 1rem;
}
.main {
    width: 48rem;
}
.contsection {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30.625rem);
    border: white 12px solid;
}
.images {
    width: 22.875;
    height: 30.625rem;
}
.image-0 {
    display: none;
}
.slider-1 {
    width: 48rem;
    height: 25rem;
}
.engine-1 {
    width: 100%;
    height: 23rem;
    gap: 1rem;
}
.slider-1-images {
    width: 43.0625rem;
    height: 23rem;
}
.slider-2 {
    width: 48rem;
    height: 12.125rem;
}
.engine-2 {
    width: 100%;
    height: 10.0625rem;
    gap: 1rem;
}
.slider-2-images {
    width: 17.875rem;
    height: 10.0625rem;
    flex-shrink: 0;
}
/*
font-family: "Inter", sans-serif;
*/