html {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    width: 100vw;
    height: 4271px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.head {
    width: 100vw;
    height: 88px;
    background-color: white;
}
.navigation {
    width: 100vw;
    height: 44px;
    background-color: #F5F5F7CC;
}
.navsection-1 {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navapplelogo {
    width: 1rem;
    height: 1.1875rem;
}
.navsection-2 {
    gap: 24px;
    color: black;
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.navsection-3 {
    width: 9rem;
    height: 100%;
}
.navicon {
    margin: 1rem;
    width: 1rem;
    height: 1rem;
}
.headcont {
    width: 100vw;
    height: 44px;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #1D1D1F;
}
.main-1 {
    width: 100vw;
}
.mains {
    width: 100vw;
    height: 692px;
}
.main-1-1 {
    background: url(./ec3175b4a85620366114b7dc1d62789aa36c0536.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    align-items: flex-start;
}
.mainframe-1 {
    width: 405px;
    height: 172px;
    margin-top: 55px;
}
.mainframe-2 {
    width: 405px;
    height: 172px;
    margin-top: 55px;
}
.main-1-title {
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 3.25rem;
    font-family: "Inter", sans-serif;
    color: #F5F5F7;
}
.main-1-text {
    width: 100%;
    height: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #F5F5F7;
}
.main-2-title {
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 3.25rem;
    font-family: "Inter", sans-serif;
    color: #F5F5F7;
}
.main-2-text {
    width: 100%;
    height: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #F5F5F7;
}
.main-1-buttons {
    width: 100%;
    height: 44px;
    gap: 16px;
}
.button-1 {
    width: 123px;
    height: 44px;
    background-color: #0071E3;
    border-radius: 999px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.button-2 {
    width: 68px;
    height: 44px;
    border: #0071E3 1px solid;
    border-radius: 999px;
    color: #0071E3;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.main-2-1 {
    background: url(./6e2272f55593e27e01766f0a588a5585328895e1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}
.wbutton-1 {
    width: 123px;
    height: 44px;
    background-color: white;
    border-radius: 999px;
    color: black;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.wbutton-2 {
    width: 68px;
    height: 44px;
    border: white 1px solid;
    border-radius: 999px;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.contsection {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 580px);
    gap: 12px;
    margin-top: 12px;
}
.images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.buttonlrn {
    width: 115px;
    height: 40px;
    background-color: #0071E3;
    border-radius: 999px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.buttonbuy {
    width: 68px;
    height: 40px;
    border: #0071E3 1px solid;
    border-radius: 999px;
    color: #0071E3;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.image-0 {
    background: url(./f34a75b3ce6969be90a261c4e631ecdfff8d60c9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
}
.image-0-title-2 {
    display: none;
}
.image-0-text-2 {
    display: none;
}
.image-0-frame {
    width: 100%;
    margin-top: 2.25rem;
    flex-direction: column;
}
.iamge-0-title {
    width: 100%;
    height: 33px;
    margin-bottom: 9px;
}
.image-0-text {
    width: 100%;
    height: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: black;
}
.image-0-buttons {
    width: 100%;
    height: 40px;
    gap: 16px;
}
.hello {
    width: fit-content;
    height: 18px;
    margin-bottom: 53px;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    background: linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
    background-clip: text;
    color: transparent;
}
.image-1 {
    background: url(./ff948cacd279c7a6da7b42f7259842d3eef7e869.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-end;
}
.image-1-frame {
    width: 100%;
    margin-bottom: 58px;
    flex-direction: column;
    justify-content: end;
}
.image-1-title {
    width: 100%;
    height: 44px;
    margin-bottom: 2px;
    color: #F5F5F7;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.image-1-text {
    width: 100%;
    height: 25px;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: #F5F5F7;
}
.image-1-buttons {
    width: 100%;
    height: 40px;
    gap: 16px;
}
.image-2 {
    background: url(./a8f490366130e01428147e18eef7d270e446275c.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}
.image-2-title {
    width: 152px;
    height: 32px;
    margin-bottom: 4px;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    gap: 8px;
}
.image-2-text-2 {
    width: 100%;
    height: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 0.9375rem;
    letter-spacing: 2px;
    color: black;
}
.image-2-title-2 {
    display: none;
}
.iamge-2-text-3 {
    display: none;
}
.image-2-buttons {
    width: 100%;
    height: 40px;
    gap: 16px;
}
.image-3 {
    background: url(./289563ba49fcacc7cacfaa9dee97b7af3642bb76.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}
.image-3-title {
    width: 100%;
    height: 44px;
    margin-bottom: 2px;
    color: #1D1D1F;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.image-3-text {
    width: 100%;
    height: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: black;
}
.image-4 {
    background: url(./b7726e787e585f3bcc4709d1a042f4f9f7c80c66.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}
.image-4-title {
    width: 152px;
    height: 32px;
    margin-bottom: 4px;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    gap: 8px;
}
.image-4-text {
    width: 322px;
    height: 50px;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: #1D1D1F;
    display: flex;
    text-align: center;
}
.image-4-buttons {
    width: 167px;
    height: 44px;
    background-color: #0071E3;
    border-radius: 999px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.image-5 {
    background: url(./47cc645e82102fb94058ac8b07709b8b6d85fef7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}
.image-5-frame {
    width: 100%;
    margin-top: 2.25rem;
    flex-direction: column;
}
.image-5-title-2 {
    display: none;
}
.image-5-text-2 {
    display: none;
}
.image-5-button-2 {
    display: none;
}
.image-5-text {
    width: 322px;
    height: 50px;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: #1D1D1F;
    display: flex;
    text-align: center;
}
.button52 {
    width: 112px;
    height: 40px;
    border: #0071E3 1px solid;
    border-radius: 999px;
    color: #0071E3;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.image-6 {
    display: none;
}
.slider-1 {
    width: 100vw;
    height: 668px;
}
.engine-1 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.slider-1-images {
    width: 1250px;
    height: 668px;
    flex-shrink: 0;
    scroll-snap-align: center;
}
#slider-1-image-1 {
    background: url(./slide1/bad-monkey.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-2 {
    background: url(./slide1/baseball.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-3 {
    background: url(./slide1/instigators.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-4 {
    background: url(./slide1/k-pop-idols.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-5 {
    background: url(./slide1/lady-in-the-lake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-6 {
    background: url(./slide1/morning-show.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-7 {
    background: url(./slide1/napoleon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-8 {
    background: url(./slide1/pachinko.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-9 {
    background: url(./slide1/pressumed-innocent.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
#slider-1-image-10 {
    background: url(./slide1/season-pass.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.anchors {
    width: 100%;
    flex-direction: row;
    margin-top: 1rem;
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
}
.anchor {
    background-color: gray;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.25rem;
}
.slider-2 {
    width: 100vw;
    height: 236px;
    margin-top: 40px;
}
.engine-2 {
    width: 4170px;
    height: 236px;
    display: flex;
    position: relative;
}
.slider-2-images {
    width: 417px;
    height: 236px;
    flex-shrink: 0;
    left: 100%;
    position: absolute;
    background-color: aqua;
    animation: slider 60s linear infinite;
    animation-delay: calc((56.5s / 10) * (var(--item) - 6.5));

}
button {
    opacity: 0;
    transition: all 0.5s ease;
    margin-top: 0.625rem;
}
@keyframes slider {
  from {
    left: 100%;
  }
  to {
    left: -417px;
  }
}
.engine-2:hover .slider-2-images {
    filter: grayscale(1);
    animation-play-state: paused;
}
.engine-2 .slider-2-images:hover {
    filter: grayscale(0);
}
.slider-2-images:hover button {
    opacity: 1;
    margin-top: 0;
}
.slider-2-image-1 {
    background: url(./slide2/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-2 {
    background: url(./slide2/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-3 {
    background: url(./slide2/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-4 {
    background: url(./slide2/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-5 {
    background: url(./slide2/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-6 {
    background: url(./slide2/6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-7 {
    background: url(./slide2/7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-8 {
    background: url(./slide2/8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-9 {
    background: url(./slide2/9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-2-image-10 {
    background: url(./slide2/10.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



@media (max-width:768px) {
.head {
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation {
    height: 48px;
    justify-content: space-between;
}
.navsection-1 {
    width: 48px;
    height: 48px;
}
.navsection-2 {
    display: none;
}
.headcont {
    width: 444px;
    height: 48px;
    display: flex;
    text-align: center;
}
.mains {
    height: 650px;
}
.main-1-1 {
    background: url(./c1bdbb86222bed356055eaebc4806ccf147dddcb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mainframe-1 {
    height: 156px;
    margin-top: 58px;
}
.main-1-title {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 2.625rem;
}
.main-1-text {
    margin-bottom: 16px;
    font-size: 1.375rem;
}
.main-2-1 {
    background: url(./03056acca3b40d2fac6464cec53adb623252f542.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contsection {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 490px);
    gap: 12px;
    margin-top: 12px;
}
.buttonlrn {
    width: 107px;
    height: 36px;
}
.buttonbuy {
    width: 66px;
    height: 36px;
}
.image-0 {
    background: url(./da862da9442f25fda2746d5c8c6f9ec5d93a3101.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
}
.image-0-frame {
    width: 100%;
    height: 161px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.image-0-title {
    display: none;
}
.image-0-text {
    display: none;
}
.image-0-title-2 {
    display: block;
    width: 100%;
    height: 36px;
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 1.875rem;
    font-family: "Inter", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-0-text-2 {
    display: block;
    width: 241px;
    height: 69px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.123rem;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
}
.image-0-buttons {
    width: 100%;
    height: 40px;
    gap: 16px;
}
.hello {
    display: none;
}
.image-1 {
    background: url(./a8f490366130e01428147e18eef7d270e446275c.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-start;
}
.image-1-frame {
    width: 100%;
    height: 161px;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.image-1-title {
    display: none;
}
.image-1-text {
    display: none;
}
.image-1-title-2 {
    display: block;
    width: 100%;
    height: 36px;
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 1.75rem;
    font-family: "Inter", sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-1-text-2 {
    display: block;
    width: 241px;
    height: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 4px;
}
.image-1-text-3 {
    display: block;
    width: 241px;
    height: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
}
.image-2 {
    background: url(./faea9510bf75f3061ee55679cd22eea7569fcf6a.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}
.image-2-title-2 {
    display: block;
    width: 257px;
    height: 72px;
    margin-bottom: 2px;
    color: #1D1D1F;
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    text-align: center;
}
.image-2-title {
    display: none;
}
.image-2-text-2{
    display: none;
}
.image-2-text-3 {
    width: 257px;
    height: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: black;
    display: flex;
    text-align: center;
}
.image-2-buttons .buttonbuy {
    display: none;
}
.image-3 {
    background: url(./289563ba49fcacc7cacfaa9dee97b7af3642bb76.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.image-3-title {
    width: 100%;
    height: 36px;
    margin-bottom: 2px;
    color: #1D1D1F;
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.image-3-text {
    width: 100%;
    height: 23px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: black;
}
.image-4 {
    background: url(./b7726e787e585f3bcc4709d1a042f4f9f7c80c66.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}
.image-4-text {
    width: 322px;
    height: 50px;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: #1D1D1F;
}
.image-4-buttons {
    width: 167px;
    height: 44px;
    background-color: #0071E3;
    border-radius: 999px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.image-5 {
    background: url(./746c1b2b65a2e4b11fef8ab2ad8c64e76020395a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: flex-end;
}
.image-5-frame {
    width: 100%;
    height: 161px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.image-5 .image-0-buttons {
    display: none;
}
.image-5-text {
    display: none;
}
.image-5-title-2 {
    display: block;
    width: 100%;
    height: 36px;
    margin-bottom: 4px;
    color: #1D1D1F;
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    text-align: center;
}
.image-5-text-2 {
    display: block;
    width: 257px;
    height: 60px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
}
.image-5-button-2 {
    display: block;
    width: 126px;
    height: 36px;
    background-color: #0071E3;
    border-radius: 999px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
}




@media (max-width:390px) {
.headcont {
    width: 328px;
    height: 48px;
    display: flex;
    text-align: center;
}
.mains {
    height: 500px;
}
.main-1-1 {
    background: url(./4d617ff6192318499aff8aebb56aaf232c8f00d4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
.mainframe-1 {
    height: 114px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-1-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 30px;
}
.main-1-text {
    margin-bottom: 16px;
    font-size: 18px;
}
.main-2-1 {
    background: url(./bca14fea5cc383f10eb575ae23034d12bd94613d.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-2-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 30px;
}
.main-2-text {
    margin-bottom: 16px;
    font-size: 18px;
}
.mainframe-2 {
    width: 241px;
    height: 114px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contsection {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 490px);
    gap: 12px;
    margin-top: 12px;
}
.buttonlrn {
    width: 107px;
    height: 36px;
}
.buttonbuy {
    width: 66px;
    height: 36px;
}
.image-0 {
    background: url(./da862da9442f25fda2746d5c8c6f9ec5d93a3101.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
}
.image-0-frame {
    width: 100%;
    height: 161px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.image-0-title {
    display: none;
}
.image-0-text {
    display: none;
}
.image-0-title-2 {
    display: block;
    width: 100%;
    height: 36px;
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 1.875rem;
    font-family: "Inter", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-0-text-2 {
    display: block;
    width: 241px;
    height: 69px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.123rem;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
}
.image-0-buttons {
    width: 100%;
    height: 40px;
    gap: 16px;
}
.hello {
    display: none;
}
.image-1 {
    background: url(./a8f490366130e01428147e18eef7d270e446275c.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-start;
}
.image-1-frame {
    width: 100%;
    height: 161px;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.image-1-title {
    display: none;
}
.image-1-text {
    display: none;
}
.image-1-title-2 {
    display: block;
    width: 100%;
    height: 36px;
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 1.75rem;
    font-family: "Inter", sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-1-text-2 {
    display: block;
    width: 241px;
    height: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 4px;
}
.image-1-text-3 {
    display: block;
    width: 241px;
    height: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
}
.image-2 {
    background: url(./faea9510bf75f3061ee55679cd22eea7569fcf6a.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}
.image-2-title-2 {
    display: block;
    width: 257px;
    height: 72px;
    margin-bottom: 2px;
    color: #1D1D1F;
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    text-align: center;
}
.image-2-title {
    display: none;
}
.image-2-text-2{
    display: none;
}
.image-2-text-3 {
    width: 257px;
    height: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: black;
    display: flex;
    text-align: center;
}
.image-2-buttons .buttonbuy {
    display: none;
}
.image-3 {
    background: url(./289563ba49fcacc7cacfaa9dee97b7af3642bb76.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.image-3-title {
    width: 100%;
    height: 36px;
    margin-bottom: 2px;
    color: #1D1D1F;
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.image-3-text {
    width: 100%;
    height: 23px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: black;
}
.image-4 {
    background: url(./b7726e787e585f3bcc4709d1a042f4f9f7c80c66.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}
.image-4-text {
    width: 322px;
    height: 50px;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: #1D1D1F;
}
.image-4-buttons {
    width: 167px;
    height: 44px;
    background-color: #0071E3;
    border-radius: 999px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.image-5 {
    background: url(./746c1b2b65a2e4b11fef8ab2ad8c64e76020395a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: flex-end;
}
.image-5-frame {
    width: 100%;
    height: 161px;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.image-5 .image-0-buttons {
    display: none;
}
.image-5-text {
    display: none;
}
.image-5-title-2 {
    display: block;
    width: 100%;
    height: 36px;
    margin-bottom: 4px;
    color: #1D1D1F;
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    display: flex;
    text-align: center;
}
.image-5-text-2 {
    display: block;
    width: 257px;
    height: 60px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
}
.image-5-button-2 {
    display: block;
    width: 126px;
    height: 36px;
    background-color: #0071E3;
    border-radius: 999px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-6 {
    display: block;
    background: url(./f34a75b3ce6969be90a261c4e631ecdfff8d60c9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.image-6-frame {
    width: 100%;
    margin-top: 2.25rem;
    flex-direction: column;
}
.iamge-6-title {
    width: 100%;
    height: 33px;
    margin-bottom: 8px;
}
.image-6-text {
    width: 100%;
    height: 25px;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 1.125rem;
    font-family: "Inter", sans-serif;
    color: black;
}
.image-6-buttons {
    width: 100%;
    height: 40px;
    gap: 16px;
}
}